* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 80px;
  box-sizing: border-box;
  background: rgb(214, 240, 17);
  border-bottom: 1px solid #fff;
}
nav a:hover {
  background: rgba(38, 75, 223, 0.544);
  color: #fff;
  border-radius: 10px;
}
button {
  border-radius: 18px;
  width: 180px;
  font-size: 15px;
  padding: 12px 0px;
  border: 1px solid black;
  outline: none;
  margin-top: 30px;
  transition: 1s;
}
button:hover {
  background-color: rgb(8, 206, 110);
  color: black;
}
.para {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
  font-weight: bold;
}
.border {
  padding: 10px;
  color: black;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: solid;
}
.twoborder {
  color: gray;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: black;
  margin-left: 60px;
}
